<form id="login-form">
  <h1>Login</h1>


  {{!-- Username --}}
  <div class="mb-3">
    <label for="user-email" class="form-label">Username</label>
    <input type="username" class="form-control" id="username-login" aria-describedby="emailHelp">
  </div>

  {{!-- Password --}}
  <div class="mb-3">
    <label for="user-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>

  <button type="login" class="btn btn-primary" id="login-btn">Login</button>
</form>